<h1><%= "#{@library.branch}" %></h1>

<p>
  <%= image_tag @library.image_url %>
</p>

<p>
  <%= link_to 'Add Book', new_library_book_path(@library, @book), class: 'btn btn-primary' %>
</p>

<div>
  <%= form_tag library_path, method: :get  do %>
    <p>
      <div class="input-group">
        <span class="input-group-btn">
          <%= submit_tag "Find", name: nil, class: 'btn btn-default' %>
        </span>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Find by Title or ISBN" %>
      </div>
    </p>
  <% end %>
</div>

<div>
  <h3>Most Requested Book</h3>
  <p><%= most_requested_book(@library) %></p>
</div>

<%= paginate @books %>

<%= render @books, library: @library %>

<%= paginate @books %>

<p>
  <%= link_to 'Back', libraries_path, class: 'btn btn-primary' %>
</p>
